<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <img class="hoptac" src="/image/hop-tac-voi-muc-tieu-doi-ben-cung-co-loi.jpg"
        alt="hop-tac-voi-muc-tieu-doi-ben-cung-co-loi">
    <!-- khong can phai co them ./pulic trong nay -->

</body>

</html>